@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #5044e5; /* Your chosen primary color */
  --color-secondary: #ecc94b; /* Optional: Define other custom colors */
  /* You can also define shades like: */
  --color-primary-dark: #4a5bb3;
}
